body {
  font-family: SF Pro Display, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: 'SF Pro Display';
    line-height: 150%;
  }

  h2 {
    font-family: 'SF Pro Display';
    line-height: 115%;
  }
  
  header {
    background-color: #f7f7f7;
    color: #333;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 85%;
    padding-top: 20px;
    background-color: #F6F6F6;
  }
  
  nav h1.logo {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav a.team {
    color: #333;
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin: 0 10px;
    font-size: 18px;
  }

  nav a.team:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left:0;
    background-color: #FF7C78;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
  #hero {
    background-color: #ffffff;
    color: #333;
    text-align: center;
    padding: 0 0 0 50px;
  }
  
  #hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    padding-top: 5%;
  }
  
  #hero p {
    font-size: 18px;
    margin-bottom: 50px;
  }
  
  #hero .cta {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  #problem {
    background-color: #fff;
    color: #333;
    padding: 6%;
    text-align: center;
  }
  
  #problem h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .problem {
    display: inline-block;
    width: 65%;
    text-align: left;
  }
  
  .problem h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .problem p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #solution {
    background-color: #f7f7f7;
    color: #333;
    padding: 6%;
    text-align: center;
  }
  
  #solution h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .solution {
    display: inline-block;
    width: 65%;
    margin: 0 10px;
    text-align: left;
  }
  
  .solution h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .solution p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  #demo {
    background-color: #ffffff;
    color: #333;
    padding: 6%;
    text-align: center;
  }
  
  #demo h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .demo {
    display: inline-block;
    width: 65%;
    margin: 0 10px;
    text-align: left;
  }
  
  .demo h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .demo p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  #prototype {
    background-color: #fff;
    color: #333;
    padding: 50px;
    text-align: center;
  }
  
  #prototype h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .prototype {
    display: inline-block;
    width: 65%;
    margin: 0 10px;
    text-align: left;
  }
  
  .prototype h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .prototype p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  #impact {
    background-color: #F7F7F7;
    color: #333;
    padding: 6% 6% 6% 6%;
    text-align: center;
  }
  
  #impact h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .impact {
    display: inline-block;
    width: 100%;
    margin: 0 10px;
    text-align: left;
  }
  
  .impact h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .impact p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  #future {
    background-color: #ffffff;
    color: #333;
    padding: 6%;
    text-align: center;
  }
  
  #future h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .future {
    display: inline-block;
    width: 65%;
    margin: 0 10px;
    text-align: left;
  }
  
  .future h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .future p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .columns {
    display: flex;
    text-align: left;
    margin-left: 5%;
  }
  .column {
    flex: 25%;
  }

  #team {
    background-color: #f7f7f7;
    color: #333;
    padding: 50px;
    text-align: center;
  }
  
  #team h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .team {
    display: inline-block;
    width: 100%;
    margin: 0 10px;
    text-align: left;
  }
  
  .team h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .team p {
    font-size: 18px;
    margin-bottom: 20px;
  }